<%= render 'shared/header' %>
<div class="fv">
    <%= image_tag 'home-fv.jpg', class: 'fv-img' %>
</div>

<div class="inner">
    <div class="contents">
        <h2 class="home-title">こんちゅうをつかまえにいきましょう。</h2>
        <h2 class="home-title">どこいく？</h2>
        <div class="flex jcc items">
            <div class="space">
                <a href="<%= insect_path %>">
                    <p>雑木林</p>
                    <%= image_tag 'zokibayashi.jpg', class: 'space-img' %>
                </a>
            </div>
            <div class="space">
                <a href="<%= insect_path %>">
                    <p>草原</p>
                    <%= image_tag 'sogenn.jpg', class: 'space-img' %>
                </a>
            </div>
            <div class="space">
                <a href="<%= insect_path %>">
                    <p>河原・湿地帯</p>
                    <%= image_tag 'kawara.jpg', class: 'space-img' %>
                </a>
            </div>
        </div>
        <h2 class="home-title">場所によって見れる昆虫が変わるよ！</h2>
    </div>
</div>

<%= render 'shared/footer' %>