<%= render 'shared/header' %>

<div class="inner">
<div class="contents">
<h2 class="home-title">こんちゅうをつかまえにいきましょう。</h2>
<div class="btn">
  <a class="home-btn" href="<%= insect_path %>">雑木林</a>
</div>
<div class="btn">
  <a class="home-btn" href="<%= insect_path %>">お花いっぱいの草原</a>
</div>
<div class="btn">
  <a class="home-btn" href="<%= insect_path %>">河原・湿地帯</a>
</div>
</div>
</div>

<%= render 'shared/footer' %>