<%= render 'shared/header' %>

<div class="inner">
    <div class="contents">
        <h2 class="home-title">昆虫をつかまえにいきましょう。</h2>
        <h2 class="home-title">どこいく？</h2>
        <div class="flex jcc items">
            <div class="space">
                <a href="<%= insect_path(place: '雑木林') %>">
                    <p>雑木林</p>
                    <%= image_tag 'zokibayashi.jpg', class: 'space-img' %>
                </a>
            </div>
            <div class="space">
                <a href="<%= insect_path(place: '草原') %>">
                    <p>草原</p>
                    <%= image_tag 'sogenn.jpg', class: 'space-img' %>
                </a>
            </div>
            <div class="space">
                <a href="<%= insect_path(place: '河原') %>">
                    <p>河原</p>
                    <%= image_tag 'kawara.jpg', class: 'space-img' %>
                </a>
            </div>
        </div>
        <h2 class="desc-title">場所によってとれる昆虫が変わるよ！</h2>
        <p class="home-text">雑木林で13種類、草原で14種類、河原で13種類発見されている。虫じゃないのも見つかってるぞ！</p>
        <p>コンプリートできたらすごい！</p>
        <p>ただし、調査の途中なのでこれから発見される虫が増えていくかもしれない。</p>
        <h2 class="desc-title">使い方は簡単！</h2>
        <p class="home-text">雑木林、草原、河原のいずれかを押すとランダムに昆虫が表示されます。</p>
        <p>なかなか捕まえられないレアな昆虫もいるので、何度も出かけましょう！</p>
    </div>
</div>

<%= render 'shared/footer' %>