<%= render 'shared/header' %>
<div class="inner">
  <div class="contents">
    <h1 class="show-title">つかまえたのは....</h1>
    <h1 class="show-title accent"><%= @insect[:name] %></h1>
    <div class="show-flex">
      <div class="show-img">
        <%= image_tag(@insect[:image_url], alt: @insect[:name]) %>
      </div>
      <div class="show-desc">
        <p><%= @insect[:description] %></p>
      </div>
    </div>
    <div class="share_btn">
      <%= link_to 'Xで共有する', "https://twitter.com/share?url=https://insect-log.onrender.com&text=#{CGI.escape("#{@insect[:name]}を#{params[:place]}でつかまえたよ！みんなもインセクトログで昆虫探しの冒険に出かけよう！#インセクトログ")}", title: 'Xで共有する', target: '_blank', class: 'share' %>
    </div>
  <div class="show-btn"><%= link_to '戻る', root_path, class: 'home-link' %></div>
  </div>
  </div>
</div>
<%= render 'shared/footer' %>