<%= render 'shared/header' %>
<div class="inner">
  <div class="contents">
    <h1>つかまえたのは....</h1>
    <h1><%= @insect.name %></h1>
    <div class="flex">
      <div class="show-img">
        <img src="<%= asset_path(@insect.image_url) %>" alt="<%= @insect.name %>の画像">
      </div>
      <div class="show-desc">
        <p><%= @insect.description %></p>
      </div>
    </div>
    <%= link_to '戻る', root_path  %>

  </div>
</div>
<%= render 'shared/footer' %>